.button {
    -fx-background-color: linear-gradient(red, white 65%, darkblue);
    -fx-text-fill: blue;
}

.customloginbutton {
    -fx-text-fill: black;
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-background-color: radial-gradient(center 25% 25%, radius 50%, reflect,
    darkgray, orange 75%, firebrick);
}

#fancybutton {
    -fx-font-weight: bold;
    -fx-font-family: Dialog;
    -fx-font-size: 36pt;
    -fx-text-fill: linear-gradient(to left, darkviolet 15%, yellow 45%,
    red 75%, firebrick 85%);
    -fx-background-color: linear-gradient(red 10%, #ABCDEF 65%, yellow 90%);
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.2, 2, 3);
}